.banner{
    background-image: url('../../Assests/food-delivery-app-on-a-smartphone-tracking-a-delivery-man-service-illustration-with-scooter-mobile-box-pin-and-message-icon-e-commerce-on-city-background-concept-vector.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}
.em-btn {
    background-color: #40c165;
    color: white;
    border: 1px solid transparent;
    transition: all 1s;
  }
  
  .em-btn:hover {
    background-color: #40c1657c;
    border: 1px solid #40c165;
  }
  
